*{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-flow: column;
}
div{
    padding: 1;
    margin: 2;
    border-bottom: solid 1px #004777;
    border-right: solid 1px #004777;
}